# EditorConfig is awesome: https://editorconfig.org/

# top-most EditorConfig file
root = true

[*.{js,ts,jsx,tsx,.d.ts}]
trim_trailing_whitespace = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
insert_final_newline = true
